doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Noom
		link(rel="stylesheet", href="https://unpkg.com/mvp.css")
		body 
			header
				h1 Noom
			main
				#welcome
					h3 참가할 방의 이름과 닉네임을 입력해주세요.
					form
						input(type="text", name="roomName", placeholder="Room Name", required)
						input(type="text", name="nickname", placeholder="Nickname", required)
						button(type="submit") 참가하기
				#room-list
					h4 열린 방 목록
					ul
				#room 
					h3#room-name 
					h3#nickname
					ul 
					form
						input(type="text", name="message", placeholder="메세지나 새로운 닉네임을 입력하고 버튼을 눌러주세요", required)
						button(type="submit")#send-message 메세지 보내기
						br
						button#change-nickname 닉네임 변경하기

			script(src="/socket.io/socket.io.js")
			script(src="/public/client/ioApp.js")
			